function Main.main 5
push constant 2
push constant 3
call Point.new 2
pop local 0
push constant 4
push constant 5
call Point.new 2
pop local 1
push constant 6
push constant 7
call Point.new 2
pop local 2
push local 0
push constant 0
call List.new 2
pop local 3
push local 1
push local 3
call List.new 2
pop local 3
push local 2
push local 3
call List.new 2
pop local 3
push local 3
call List.print 1
pop temp 0
push local 3
call List.removeTail 1
pop temp 0
push local 3
call List.print 1
pop temp 0
push constant 40
push constant 30
call Math.divide 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
call SnakeGame.new 0
pop local 4
push local 4
call SnakeGame.Draw 1
pop temp 0
push constant 0
return
